<div class="order_list" data-membership-no="<%= order_list.membership_no %>">
  <div>
    <div>
      <h4><%= order_list.membership_no %> - <%= order_list.name %></h4>
      <div>Landline: <%= order_list.lphone %></div>
      <div>Mobile: <%= order_list.mphone %></div>
      <div>Address:<%= order_list.address %></div>
    </div>
    <p></p>
    <%= render :partial => 'table', :locals => { :order_list => order_list} %>
    <div class="scheduleDelivery right">
      <button class="scheduleDeliveryButton">Schedule</button>
    </div>
    <div class="clear"></div>
    <div class="notes" data-membership-no="<%= order_list.membership_no %>" style="display: none;"></div>
    <div class="last right"></div>
  </div>
  <br/>
  <hr>
</div>