<%= javascript_include_tag 'delivery_order'%>
<div class="span-4 colborder">
  <%= render :partial => 'delivery_orders/delivery_links' %>
</div>

<div class="span-18">
  <section class="round">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>
  <br/>
  <hr/>
  <%= form_tag(search_delivery_orders_path, :method => :get) do %>
    Search By Member Number: <%= text_field :criteria, :membership_no %>
    <br/>
    Search by Delivery Type: <%= collection_select(:criteria, :order_type, DeliveryOrder::DELIVERY_TYPES, :to_s, :to_s, :prompt => "Any") %>
    <input type="submit"/>
  <% end %>
  <br/>
  <hr/>
  <div class="order_lists">
    <%= render :partial => "delivery_schedules/schedule_table" %>
    <br/>
    <hr/>
    <%= render :partial => "order_list", :collection => @order_lists %>
    <hr />
    <%= will_paginate(@order_lists) %>
    <br/>
    <hr />
    <script type="text/html" id="deliveryNotesTemplate">
      <%= render :partial => "delivery_orders/delivery_notes_template" %>
    </script>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      new Strata.DeliveryOrder($(".order_lists"), "<%= new_appointment_path %>", "<%= appointments_path %>", "<%= delivery_schedules_path %>", new Strata.DeliveryOrder.DeliveryOrderPathGenerator());
    });
  </script>
</div>