    <div class="span-9">
      <h6>ISBN Details : JB Enriched Titles</h6>
      <br/>
      <% unless enrichedtitle.nil? %>
        <div class="span-9">
          <div class="span-9">
            <div class="span-3"><%= image_tag image_url(enrichedtitle.title_id), :size => "100x140", :alt => "#{enrichedtitle.title} ", :title => "#{enrichedtitle.title}", :onerror => "this.src='#{default_image_url}';"  %><br/></div>
            <div class="span-5">
            <div class="span-5">ISBN: <%=enrichedtitle.isbn%></div>
            <div class="span-5">Title id :<%=enrichedtitle.title_id%></div>
            <div class="span-5">Title: <%=enrichedtitle.title%></div>
            <div class="span-5">Author: <%=enrichedtitle.author%></div>
            <div class="span-5">Category: <%=enrichedtitle.category%></div>
            <div class="span-5">Language: <%=enrichedtitle.language%></div>
            <%= form_for @book,  do |f| -%>
              <%= f.hidden_field :flg_jb_or_other, :value => Book::JB_OTHER[:jb] %>
              <%= f.hidden_field :title_id, :value => enrichedtitle.title_id %> 
              <%= f.hidden_field :isbn, :value => enrichedtitle.isbn %> 
              <br/>
              <br/>
              <%= f.submit 'Confirm', :confirm => "Change the ISBN for this book from #{@book.isbn} to #{enrichedtitle.isbn}?"  %>	
            <% end -%>

            </div>
          </div>
          <br/>
        </div>
      <% end %>
      <% if enrichedtitle.nil?  %>
        <div class="span-9">
          <br/>
          no data found
        </div>  
      <% end %>
    </div>

    <div class="span-9">
      <h6><%= "ISBN Details: Flipkart.com" if enrichedtitle.nil? %></h6>
      <br/>
      <% unless flipkart_info.nil? %>
        <div class="span-9">
          <div class="span-9">
            <div class="span-3"><%= image_tag flipkart_info[:image], :size => "100x140", :alt => "#{flipkart_info[:title]} ", :title => "#{flipkart_info[:title]}", :onerror => "this.src='#{default_image_url}';"  %><br/></div>
            <div class="span-5">
              <div class="span-5">ISBN: <%=flipkart_info[:isbn]%></div>
              <div class="span-5">Info Source :<%=flipkart_info[:info_source]%></div>
              <div class="span-5">Title: <%=flipkart_info[:title]%></div>
              <div class="span-5">Author: <%=flipkart_info[:authors]%></div>
              <div class="span-5">publisher: <%=flipkart_info[:publisher]%></div>
              <div class="span-5">More details: <a href="<%=flipkart_info[:detail_page]%>" target="_blank">flipkart</a></div>
              <%= form_for @book,  do |f| -%>
                <%= f.hidden_field :flg_jb_or_other, :value => Book::JB_OTHER[:other] %>
                <%= f.hidden_field :isbn, :value => flipkart_info[:isbn] %> 
                <%= f.hidden_field :title_id, :value => 0 %> 
                <%= f.hidden_field :title, :value => flipkart_info[:title] %>
                <%= f.hidden_field :authors, :value => flipkart_info[:authors] %>
                <%= f.hidden_field :publisher, :value => flipkart_info[:publisher] %>
                <%= f.hidden_field :image, :value => flipkart_info[:image] %>
                <%= f.hidden_field :pubdate, :value => flipkart_info[:pubdate] %>
                <%= f.hidden_field :format, :value => flipkart_info[:format] %>
                <%= f.hidden_field :page_cnt, :value => flipkart_info[:page_cnt] %>
                <%= f.hidden_field :language, :value => flipkart_info[:language] %>
                <br/>
                <br/>
                <%= f.submit 'Confirm', :confirm => "Change the ISBN for this book?"  %>	
              <% end -%>

            </div>
          </div>
          <br/>
        </div>
      <% end %>
      <% if enrichedtitle.nil?  and flipkart_info.nil? %>
        <div class="span-9">
          <br/>
          No records with matching ISBN found. Check the ISBN or send mail to tech suport
          <%= link_to 'Send mail', book_mail_path(:id=>@book.id, :isbn=>@isbn), :confirm => 'Send mail now?' %> 
        </div>  
      <% end %>
    </div>

