<div class="span-24">
  <div class="span-3 colborder">
    <div class="span-3">
      <p></p>
      <p><%= link_to "Ibtrs", ibtrs_path %> </p>
      <p><%= link_to "Back", :back %> </p>
    </div>
  </div>

  <div class="span-14">
    
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </section>
    <div class="span-9">
      <h6>Book Details</h6>
      <br/>
      <div class="span-9">
        <div class="span-3"><%= image_tag image_url(@book.title_id), :size => "100x140", :alt => "#{@book.title.title} ", :title => "#{@book.title.title}", :onerror => "this.src='#{default_image_url}';"  %><br/></div>
        <div class="span-5">
        <div class="span-5">Book No: <%=@book.id%></div>
        <div class="span-5">Title id :<%=@book.title_id%></div>
        <div class="span-5">ISBN: <%=@book.isbn%> 
        <%= link_to 'change?', edit_book_path(@book)%> </div>
        <div class="span-5">Title: <%=@book.title.title%></div>
        <div class="span-5">Author: <%=@book.title.author.name%></div>
        <div class="span-4">Category: <%=@book.title.category.name unless @book.title.category.nil?%></div>
        <div class="span-4">Language: <%=@book.title.language%></div>
       
        </div>
      </div>
      <hr/>
      <br/>
    </div>

  </div>
</div>