<div class="span-24">
  <div class="span-24">
    <%= render :partial => 'report_menu' %>
    <div class="span-14">
    <%= render :partial => 'searchForm' %>
    </div>
  </div>
  <div class="span-24">
    <h3>Assigned Requests</h3>
    
    <div class="span-24" >
    <% unless @ibtr_stats.size == 0 %>
      <div class="span-24">
        <div class="span-24 small">
          <p><b>How to read this report:</b> <br/>
          This report shows all requests assigned to a branch (that were <b>assigned</b> on the date range selected above).<br/>
          A total of P requests were assigned to the respondent branch, of which:
          <ul>
            <li> X requests are still "assigned", action pending on the respondent branch to fulfill them. </li>
            <li> For Y requests PO has been raised (procurement).</li>
            <li> Z requests have been assigned to procurment team.</li>
          </ul>
        </div>
        <br/>
        
      <div class="span-24">
      
        <h6>Respondent branches current IBT Assigned requests <%= report_msg(params[:Created], params[:start], params[:end]) %>
        </h6>
        <br/>
      
        <table width="100%">
          <thead>
          <tr class="span-24">
            <th class="span-3">Respondent branch</th>
            <th class="span-2">Assigned (X)</th>
            <th class="span-2">PO Placed(Y)</th>
            <th class="span-2">Out of Stock (Z)</th>
            <th class="span-2">Total (P)</th>

          </tr>
          </thead>
          <%= render :partial => "ibtr_assigned_stat", :collection => @ibtr_stats %>
          <tfoot>
          <tr class="span-24">
            <td class="span-3">Total</td>
            <td class="span-2"><%= sum_attr("assigned_cnt",@ibtr_stats) %></td>
            <td class="span-2"><%= sum_attr("poplaced_cnt",@ibtr_stats) %></td>
            <td class="span-2"><%= sum_attr("poassigned_cnt",@ibtr_stats) %></td>
            <td class="span-2"><%= sum_attr("total_cnt",@ibtr_stats) %></td>
          </tr>
          </tfoot>
        </table>
      
      </div>
    <% end %>
    </div>
    <% if @ibtr_stats.size == 0 %>

      <div class="span-14">
        <br/>
        no data found
        
      </div>  
    <% end %>
  </div>
  
</div>