<html>
  <head>
    <title>Delivery Schedule</title>
  </head>
  <body>
    <% @printable_report_presenter.delivery_people.each do |person| %>
      <h3><%= person.name %></h3>
      <% @printable_report_presenter.slots.each do |slot| %>
        <h4><%= slot.name %></h4>
        <table border="1">
          <% @printable_report_presenter.order_lists_for(person, slot).each do |order_list| %>
            <tr>
              <td><%= order_list.membership_no %></td>
              <td><%= order_list.member.name %></td>
              <td><%= order_list.member.address %></td>
              <td><%= order_list.member.mphone %> <br/> <%= order_list.member.lphone %></td>
              <td>
                <ul>
                  <% order_list.each do |delivery_order| %>
                    <li><%= delivery_order.order_type %> - <%= delivery_order.title.title %></li>
                  <% end %>
                </ul>
              </td>
              <td width="150" class="signature"><br/><br/><br/></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </body>
</html>