<h3><%= schedule.delivery_slot.name %></h3>
<%= form_tag :method => :put do %>
  <%= hidden_field_tag "allotment[slot_id]", schedule.delivery_slot.id, :id => nil %>
  <table>
    <tr>
      <td>Member no</td>
      <td>Member name</td>
      <td>Member address</td>
      <td>Delivery Person</td>
    </tr>
    <% schedule.order_lists.each do |order_list| %>
      <tr>
        <td><%= order_list.membership_no %></td>
        <td><%= order_list.member.name %></td>
        <td><%= order_list.member.address %></td>
        <td><%= select_tag("allotment[delivery_person[#{order_list.membership_no}]]", options_from_collection_for_select(@delivery_people, 'id', 'name')) %></td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag("Update", :class => "right") %>
<% end %>
